@model V2.Models.Stanley

@{
    ViewBag.Title = "Home Page";
}
<style>
    #content {
    position: relative;
}
#content img {
display: block; 
width: 240px; 
height: 210px; 
float:left;
padding-right:40px;
padding-bottom:10px
   
}
</style>

<div class="jumbotron row">
    <h2 style="text-align:center;position:relative;top:-30px">Stanley Colimon</h2>
    <div id="content">
        <img src="@Model.image" class="ribbon" />
        <div> @Model.biographie</div>
    </div>
@if (Request.IsAuthenticated && User.IsInRole("Administrateur"))
{
    @Html.ActionLink("Modifier la biographie", "EditBio") <span>|</span>
    @Html.ActionLink("Modifier l'image", "EditImage")

}
</div>
