
@{
    ViewBag.Title = "Recherche";
}

<h2>Recherche</h2>
<style>
     option.red {background-color: black; font-weight: bold; font-size: 12px;}
</style>

@using (Html.BeginForm("Search", "Home"))
{
    List<SelectListItem> items = new List<SelectListItem>();

    items.Add(new SelectListItem
    {
        Text = "Album",
        Value = "Albums"

    });
    items.Add(new SelectListItem
    {
        Text = "Artiste",
        Value = "Artistes",
        Selected = true
    });
    items.Add(new SelectListItem
    {
        Text = "Chanson",
        Value = "Chansons"
    });
    items.Add(new SelectListItem
    {
        Text = "Genre",
        Value = "Genres"
    });
    <span style="padding-top:11px" class="right">
            @Html.TextBox("recherche")
        <select name=sujet>
            <option class="red" value="Albums" selected="selected">Album</option>
            <option class="red" value="Artistes">Artiste</option>
            <option class="red" value="Chansons">Chanson</option>
            <option class="red" value="Genres">Genre</option>
        </select>

        <input type="submit" value="Rechercher" />
    </span>
}

