/* simple */
		.flip-container {
			-webkit-perspective: 1000px;
			-moz-perspective: 1000px;
			-ms-perspective: 1000px;
			perspective: 1000px;
			position:relative
			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
				-moz-transform-style: preserve-3d; 
				-ms-transform-style: preserve-3d; 
	
		}

			/*
			.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				transform: rotateY(180deg);
				filter: FlipH;
				-ms-filter: "FlipH";
			}
			*/


			/* START: Accommodating for IE */
			.flip-container:hover .back, .flip-container.hover .back {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
		
		/* END: Accommodating for IE */

		.flip-container, .front, .back {
			width: 800px;
			height: 525px;
			margin:auto;
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-ms-transition: 0.6s;

			-moz-transition: 0.6s;
			-moz-transform: perspective(1000px);
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;
			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;

			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-webkit-transform: rotateY(0deg);

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;
			-moz-transform: rotateY(0deg);

			-o-transition: 0.6s;
			-o-transform-style: preserve-3d;
			-o-transform: rotateY(0deg);

			-ms-transition: 0.6s;
			-ms-transform-style: preserve-3d;
			-ms-transform: rotateY(0deg);

			transition: 0.6s;
			transform-style: preserve-3d;
			transform: rotateY(0deg);

			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);

			background-color:black;
			/* background: -webkit-linear-gradient(left, black, #2b3e50, #2b3e50,#2b3e50, black); /* For Safari 5.1 to 6.0 */
			 /*background: -o-linear-gradient(right, black, #2b3e50, #2b3e50, #2b3e50, black); /* For Opera 11.1 to 12.0 */
			 /*background: -moz-linear-gradient(right, black, #2b3e50, #2b3e50, #2b3e50, black); /* For Firefox 3.6 to 15 */
			 /*background: linear-gradient(black, #2b3e50, #2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50, #2b3e50, black); /* Standard syntax */
			 
			 /*background: -webkit-linear-gradient(left,rgba(255,0,0,1),rgba(255,0,0,0), rgb(1, 1, 1, 1))); /*Safari 5.1-6*/
			 /*background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
			 /*background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
			 /*background: linear-gradient(rgba(1,1,1,1), rgba(1,1,1,0), rgba(1,1,1,0), rgba(1,1,1,0), rgba(1,1,1,0), rgba(1,1,1,0), rgba(1,1,1,1)); /*Standard*/
			z-index: -1;
		}

		.back {
			/*background: #2b3e50;*/
			-webkit-transform: rotateY(-180deg);
			-moz-transform: rotateY(-180deg);
			-o-transform: rotateY(-180deg);
			-ms-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
			padding-left:100px;
			padding-right:0px;
			padding-top:50px;
			padding-bottom:50px;
			 /*background: -webkit-linear-gradient(left, black, #2b3e50, #2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50, black); /* For Safari 5.1 to 6.0 */
			 /*background: -o-linear-gradient(right, black, #2b3e50, #2b3e50, #2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50, black); /* For Opera 11.1 to 12.0 */
			 /*background: -moz-linear-gradient(right, black, #2b3e50, #2b3e50, #2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50, black); /* For Firefox 3.6 to 15 */
			 /*background: linear-gradient(to right, black, #2b3e50, #2b3e50, #2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50,#2b3e50, black); /* Standard syntax */
		}

		.front .name {
			font-size: 2em;
			display: inline-block;
			background: rgba(33, 33, 33, 0.9);
			color: #f8f8f8;
			font-family: Courier;
			padding: 5px 10px;
			border-radius: 5px;
			bottom: 60px;
			left: 25%;
			position: absolute;
			text-shadow: 0.1em 0.1em 0.05em #333;
			display: none;

			-webkit-transform: rotate(-20deg);
			-moz-transform: rotate(-20deg);
			-ms-transform: rotate(-20deg);
			transform: rotate(-20deg);
		}

		.front-logo {
			position: relative;
			top: 00px;
			left: 00px;
			width: 800px;
			height: 525px;
			background-color:black;
			z-index:-1;
			 /*background: no-repeat left center;*/
		/*-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;*/
		background-position: center;
		background-attachment:fixed;
			
			
			
		}
	

		.back-title {
			font-weight: bold;
			color: #00304a;
			position: absolute;
			top: 180px;
			left: 0;
			right: 0;
			text-align: center;
			text-shadow: 0.1em 0.1em 0.05em #acd7e5;
			font-family: Courier;
			font-size: 22px;
		}

		.back p {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			text-align: center;
			padding: 0 0px;
			font-size: 18px;
		}
		.back-lock {
			position: absolute;
			left:750px;
			top:425px;
			color: #ffffff;
  background-color: #4e5d6c;
  border-color: transparent;
		}

		
		/* END: Accommodating for IE */
	.titrealbum {
		position:absolute;
		top:-10px;
		left:0px;
		width:100%;
		text-align:center;
		z-index:2;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.prixalbum {
		position:absolute;
		top:00px;
		left:00px;
		width:100%;
		text-align:right;
	}
	.imagealbum {
		width:100%;
		height:auto;
		width: auto\9;
	}
	.bande-noire-top-front {
		background-color:black;
		opacity: 0.8;
		filter: alpha(opacity=80); /* For IE8 and earlier */
		position:absolute;
		top:0px;
		height:50px;
		width:100%;

	}
	.bande-noire-bottom-front {
		background-color:black;
		opacity: 0.9;
		filter: alpha(opacity=90); /* For IE8 and earlier */
		position:absolute;
		top:475px;
		height:50px;
		width:100%;
	}
	/*.seemore {
		width:100%;
		height:100%;
		background: url(../../Images/seemore.png) no-repeat top left;
		
	 display:flex;
	}*/
	.addtocart {
		position:absolute;
		top: 20px;
		left: 600px;

	}