@{
    ViewBag.Title = "RevisePaiement";
}

<h2>RevisePaiement</h2>
Veuillez confirmer votre achat pour avoir accès aux éléments de votre panier

@using (Html.BeginForm("ConfirmePaiement", "Paypal", FormMethod.Post))
{
    <input type="submit" name="Confirmation" value="Confirmer l'achat" />
}
